<!DOCTYPE html>

<html>
  <head>
    <title>Clear</title>
    <meta charset="utf-8">
    <style>
      body {
        margin: 0px;
      }

      .col {
        height: 200px;
        float: left;
        /* float: right; */
      }

      .col-1 {
        width: 200px;
      }

      .col-2 {
        width: 400px;
      }

      .col-3 {
        width: 600px;
      }

      /* #div2 {
        clear: left;
      } */

      /* #div5 {
        clear: right;
      } */

      .grid {
        border: 2px solid black;
      }

      .clearfix {
        clear: left;
      }
    </style>
  </head>

  <body>
    <div class="grid">
      <div id="div1" class="col col-1" style="background-color: blue;"></div>
      <div id="div2" class="col col-1" style="background-color: green;"></div>
      <div id="div3" class="col col-1" style="background-color: yellow;"></div>
      <div id="div4" class="col col-1" style="background-color: orange;"></div>
      <div id="div5" class="col col-2" style="background-color: purple;"></div>
      <div id="div6" class="col col-3" style="background-color: pink;"></div>
      <div id="div7" class="col col-2" style="background-color: gray;"></div>

      <div class="clearfix"></div>
    </div>

    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero ullam molestiae iure soluta reprehenderit culpa adipisci dolor fuga, in odit explicabo sunt ipsa magni illo perspiciatis! Tempore, culpa? Dolor, nihil?
    </p>
  </body>
</html>